[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "sources/meta-qt6"]
	path = sources/meta-qt6
	url = https://code.qt.io/yocto/meta-qt6.git
	branch = 6.8
[submodule "sources/meta-rpi4-qt6"]
	path = sources/meta-rpi4-qt6
	url = https://github.com/MainForm/meta-rpi4-qt6-template
